/*
========================================== 
    Assignment Name: 4.2 - Number Guessing Game
    Author: Caitlynne Johnson
    Date: 11/9/2022
    Description: Style for Number Guessing Game
==========================================
*/

body {
    font-size: 28px;
    padding-left: 20px;
}

#conversion-results {
    text-align: center;
}

#card-example, #form-example, #form-results-example {
    width: 600px;
    margin: 3% auto 00;
}

#container {
    padding: 10px;
}

